<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title><%= titleHomePageEjs %></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">a n t i q u e s t </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="../inventory">Say goodbye to the thrill of the hunt.</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">About Antiquest</a></li>
        <li><a href="#">Your search ends here. 

        </br><br>This web app was founded in 2020 by a Software Engineering Immersive student by the name of Cody Breen. Please enjoy it's limited functionality!
        </br></br>Functional navigation links will be added here in future versions of this app.</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        </br>
        </br>
        </br>
        <div class="header center">
          <a href="../inventory" id="download-button" class="header center btn-large waves-effect waves-light teal lighten-1">What have you got for me today?</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../images/background1.jpg" alt="The famous marshmellow couch."></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">access_time</i></h2>
            <h5 class="center">Stop Endless Searching</h5>

            <p class="light">Antiquest&trade; aggregates the inventory of nearby small businesses so locating beautiful pieces is a breeze. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">assistant</i></h2>
            <h5 class="center">Style Over Substance</h5>

            <p class="light">No more drudging through pages of dilapitated dressers, shoddy chairs and broken items. Antiquest&trade; is a community to the brim with quality, highly sought after pieces.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">call</i></h2>
            <h5 class="center">Store Info Within Reach</h5>

            <p class="light">Great. You've found the credenza of your dreams, but where is it? Our detailed Stores page gives you the info you need to connect with the seller, arrange a viewing, etc. No more endless emails.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../images/background2.jpg" alt="George Nelson's fold-out pamphlets"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Don't get too comfortable yet.</h4>
          <p class="left-align light">There are big plans for this app. Please stay tuned in the coming weeks for updates and changes to this apps functionality and overall feel.</p>
        </div>
      </div>

    </div>
  </div>


  <!-- <div class="parallax-container valign-wrapper"> // when the homepage needs to expand.
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div> -->

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Messag from the Developer</h5>
          <p class="grey-text text-lighten-4">Please don't sue! Any likeness to real apps are purely coincidental. This app is in development as to further my studies as a full-stack developer in 2020. Any comments you'd like to share can be forwarded to me on LinkedIn.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Navigation</h5> 
          <ul>
            <li><a class="white-text" href="../inventory">All Inventory</a></li>
            <li><a class="white-text" href="../stores">All Stores</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Portfolio</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/codybreen/">LinkedIn</a></li>
            <li><a class="white-text" href="https://github.com/cojbr">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">cojbr + Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
